.bodybackground{
   body {
      background: #ececec;
      background-image: url(
         beautiful-red-heart-shape.jpg,
         );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      min-height: 100vh;
    }
}