@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root {
  --Linen: #faf0e6;
  --DarkRed: #8b0000;
  --Gold: #ffd700;
  --AliceBlue: #f0f8ff;
  --Azure: #f0ffff;
  --Pink: #FF52C5;
  --Maroon: #800000;
  --green:#53FF8D;
  --MediumSpringGreen: #00fa9a;
  --DeepPurple: #ac81ff;
  --SteelBlue: #516EFF;
  --MistyRose: #ffe4e1;
  --SeaShell: #fff5ee;
  --LightCoral: #f08080;
  --yellow: #ffdd40;
  --tint: #ffab99;
  --dark: #2f313a;
  --deg: -86deg;
  --trans: all 0.4s ease 0s;
  --me:#ef99fa;
  --cyan:#00FFFF;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  justify-content: bottom;
  font-family: "Lato", Arial, Helvetica, serif;
  background-color: #302d2d;
  font-size: 1em;
}

body *,
body *:before,
body *:after {
  box-sizing: border-box;
}

.content {
  width: 90vmin;
}

h2 {
	text-align: justify;
}
p{
  text-align: justify;
  font-weight: 500;
}

.team {
  padding: 2em 0 2em 2.5em;
  margin: 1;
}

.member {
  margin: 1.5em 0 0.5em;
  padding: 0.73em;
  background: linear-gradient(83deg,
      var(--tint) 0 97%,
      /*Where each write up color -- WHITE*/
      /*--yellow*/
      #fff0 calc(97% + 1px) 100%);
  position: relative;
  list-style: none;
  display: inline-block;
  transform: scale(0.85);
  transition: var(--trans);
}

.member:nth-of-type(even) {
  text-align: justify;
  background: linear-gradient(-83deg,
      var(--tint) 0 97%,
      /*yellow color*/
      #fff0 calc(97% + 1px) 100%);
}

.thumb {
  width: 15vmin;
  height: 18vmin;
  float: left;
  margin-right: 1em;
  background: linear-gradient(var(--deg),
      var(--yellow) 0 70%,
      /*Dark color*/
      var(--DeepPurple) 0% 100%
      /* yellow color*/
    );
  transform: rotate(-4deg);
  transition: var(--trans);
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: -4.7em;
  padding: 0.4em;
}

.member:nth-of-type(even) .thumb {
  --deg: 86deg;
  float: right;
  margin-left: 1em;
  margin-right: -5em;
  transform: rotate(4deg);
}

.thumb img {
  width: 100%;
  height: 100%;
  border-radius: 0.4em;
  filter: blur(5px);
  background: var(--MediumSpringGreen);
  /* dark color */
}

.member:hover {
  transform: scale(1);
  transition: var(--trans);
  filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
  padding: 0.1em;
  transition: var(--trans);
  transform: rotate(-1deg);
  --deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
  --deg: 91deg;
}

.member:hover .thumb img {
  filter: none;
  transition: var(--trans);
}

.description {
  padding-top: 5vmin;
}

.description p {
  padding: 0 4em;
  margin-bottom: 0.5em;
}

h3 {
  /*HEADER UNDERLINE*/
  /*dark color*/
  background: linear-gradient(182deg, 60%, var(--me) 0 100%);
  display: inline;
  transform: rotate(-2deg);
  position: absolute;
  margin: 0;
  /* margin-top: -3.50em;  */
  left: 8vmin;
  padding: 1em 1em; /*0.5em 0.75em*/
  color: var(--cyan);
  font-weight: 900;
  /*Header-font color*/
  border-radius: 0.32em;/*0.25*/
  font-size: 1.54em; /*1.35*/
  transform-origin: left bottom;
}

.member:nth-of-type(even) h3 {
  left: inherit;
  right: 8vmin;
  transform: rotate(2deg);
  transform-origin: right bottom;
  background: linear-gradient(-182deg, #fff0 60%, var(--me) 0 100%);
}

.member:hover h3 {
  /* Header Underline Color Property*/
  transition: var(--trans);
  transform: rotate(0deg);
  background: linear-gradient(180deg, #fff0 59%, var(--yellow) 0 100%);
}

/*.co-funder:after {
  content: "FOUNDER";
  font-size: 0.75em;
  position: absolute;
  top: -1.5em;
  background: var(--dark);
  /*Tagline */
 /* right: 4em;
  transform: rotate(3deg);
  padding: 0.35em 0.75em 0.5em;
  border-radius: 0.25em;
  color: var(--Linen);
  font-weight: bold;
}*/

/*.co-funder:nth-of-type(even):after {
  right: inherit;
  left: 4em;
  transform: rotate(-3deg);
}*/

.description p a {
  display: inline-block;
  margin: 0.7em 0 0 0;
  background: var(--Maroon);
  color: var(--Linen);
  padding: 0.2em 0.5em 0.35em;
  border-radius: 0.4em;
  text-decoration: none;
  font-weight: 900;
  transition: var(--trans);
}

.description p a:hover {
  transition: var(--trans);
  color: var(--dark);
  background: var(--me);
  font-weight: bold;
}

.description p a img {
  float: left;
  width: 22px;
  filter: invert(1);
  border-radius: 0.15em;
  padding: 2px;
  background: #fff;
  margin-right: 2px;
}